#header{
	width: 100%;
	position: fixed;
	z-index: 5;

	& + *{
		margin-top: 86px;
	}

	.container-menu{
		display: block;
		margin: 0 auto;
		width:$largura-container;
		@media screen{
			@media (max-width: $tamanho-notebook){
				width: 100%;
				// padding-right: 30px;
				// padding-left: 30px;
				&:before{
					content: none;
				}
			}

			@media (max-width: $tamanho-tablet){
			}

			@media (max-width: $tamanho-smartphone){
				// padding-right: 15px;
				// padding-left: 15px;
			}
		}
	}

	
	& > .global{
		background-color: white;
		height: 54px;
		
		.container-menu{
			height: 100%;
			@include display(flex);
			position: relative;
		}

		button.btmenuglobal{
			height: 100%;
			width: 54px;
			display: none;
			@include align-items(center);
			@include justify-content(center);
			i{
				display: block;
			}

			@media screen and (max-width: $tamanho-tablet){
				display: block;
				&.menu-visivel{

				}
			}
		}

		a.logo-principal{
			height: 100%;
			@include display(inline-flex);
			@include align-items(center);
			padding-right: 1em;
			@media screen and (max-width: $tamanho-notebook){padding-left: 1em}
			@media screen and (max-width: $tamanho-tablet){padding-left: 0}

			img{
				display: block;
				height: 50%;
				width: auto;
			}
		}

		.itens-globais{
			height: 100%;

			@include keyframes(btFecharAparece){
				0%{@include transform(scale(0))}
				100%{@include transform(scale(1))}
			}

			button.fecha-menu-retratil{
				@extend .bt-fechar;
				@include display(none);

			}
			ul.lista-globais{
				height: 100%;
				@include display(flex);


				& > li{
					// display: inline-block;
					height: 100%;


					&:hover{
						& > a{
							color: white;
							background-color: $grafite;
						}
						& > .submenu-global{
							@include display(flex);
						}
					}
					& > a{
						@media screen and (max-width: $tamanho-notebook){
							font-size: 0.9em;
						}
						@media screen and (max-width: $tamanho-tablet){
							font-size: 1em;
						}
						color: inherit;
						@include display(flex);
						@include align-items(center);
						height: 100%;
						padding: 0 0.8em;
						text-transform: uppercase;
						background-color: white;
						@include transition(all 0.1s linear);
						@include transition-property(background-color, color);
						&:hover{
							text-decoration: none;
						}
						
					}
					& > .submenu-global{
						z-index: 2;
						position: absolute;
						left: 0;
						top: 100%;
						width: 100%;
						display: none;
						background-color: $grafite;
						padding: 1em 2em;
						.categorias{
							width: 20%;
							& > li{
								display: block;
								margin-bottom: 0.4em;
								@include animation(aparece 0.2s linear 0s 1 normal both);
								@for $i from 1 through 20 {
									&:nth-child(#{$i}) {
										@include animation-delay(#{$i * 0.05}s);
									}
								}
								& > a{
									color: white;
								}
							}
						}

						.ultimos-posts{
							width: 80%;
							@include display(flex);
							@include flex-direction(column);
							@include align-items(flex-end);

							ul.posts{
								width: 100%;
								@include display(flex);

								li{
									width: 25%;
									&:not(:last-child){margin-right: 1em;}
									@include animation(aparece 0.4s linear 0s 1 normal both);
									@for $i from 1 through 20 {
										&:nth-child(#{$i}) {
											@include animation-delay(#{$i * 0.1}s);
										}
									}
									a{
										color: inherit;
										&:hover{
											text-decoration: none;
											p{
												color: $vermelho;
											}
										}
										display: block;
										background-color: white;
										width: 100%;
										padding: 0.75em;
										.img{
											width: 100%;
											height: 120px;
											position: relative;
											img{
												@extend .isolador-img;
											}
										}
										p{
											@include transition(color 0.2s linear);
											color: $grafite;
											font-size: 0.9em;
											margin-top: 1em;
											text-align: center;
										}
									}
								}
							}

							a.ver-mais{
								margin-top: 1em;
								font-size: 0.9em;
								color: white;
							}
						}
					}
				}
			}

			// responsivo

			@include keyframes(fundoEscurece){
				0%{background-color: rgba(0,0,0,0);}
				100%{background-color: rgba(0,0,0,0.9);}
			}

			@include keyframes(menuSurge){
				0%{@include transform(translate(-100%))}
				100%{@include transform(translate(0%))}
			}

			@media screen and (max-width: $tamanho-tablet){
				display: none;
				position: fixed;
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0.9);
				@include animation(fundoEscurece 0.3s linear 0s 1 normal both);
				z-index: 6;

				&.visivel{
					display: block;
				}

				button.fecha-menu-retratil{
					@include display(flex);
				}

				& > ul.lista-globais{
					@include animation(menuSurge 0.3s ease-out 0s 1 normal both);
					@include display(block);
					width: 360px;
					max-width: calc(100% - 5em);
					background-color: white;
					overflow-y: auto;
					box-shadow: $boxshadow-padrao;

					& > li{
						display: block;
						border-bottom: 1px solid lighten($grafite-claro, 30%);
						height: auto;
						position: relative;
						& > a{
							@include display(block);
							height: auto;
							padding: 0.5em 1em;
						}

						& > .submenu-global{
							z-index: 0;
							position: static;
							display: block;
							background-color: transparent;
							padding: 0em 0 1em 2em;
							.categorias{
								width: 100%;
								& > li{
									margin-bottom: 0;
									@include animation(none);

									// &:not(:last-child){
									// 	margin-bottom: 0em;
									// }
									& > a{
										color: inherit;
										font-size: 0.9em;
									}
								}
							}

							.ultimos-posts{
								display: none;
							}
						}


						&:hover{
							& > a{
								color: inherit;
								background-color: inherit;
							}

							& > .submenu-global{
								@include display(block);
							}

						}
					}
				}
				
			}
		}

		.busca-e-favoritos{
			position: absolute;
			right: 0px;
			top: 0;
			height: 100%;
			@include display(flex);

			@media screen and (max-width: $tamanho-notebook){
				font-size: 0.9em;
			}

			@media screen and (max-width: $tamanho-tablet){
				font-size: 1em;
			}

			button.btsearch, a.favoritos{
				color: inherit;
				@include transition(color 0.2s linear);
				&:hover{
					color:$vermelho;
				}
			}
			
			button.btsearch{
				@include display(flex);
				@include align-items(center);
				height: 100%;
				padding: 0 0.8em;
				span{
					text-transform: uppercase;
					margin-right: 0.6em;
				}
			}
			a.favoritos{
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);

				height: 100%;
				padding: 0 0.8em;
				color: inherit;
			}
		}
	}

	& > .subglobal{
		
		background-color: $grafite;
		height: 32px;
		
		& > ul{
			height: 100%;
			@include display(flex);
			@media screen and (max-width: $tamanho-tablet){
				overflow-x: auto;
				white-space: nowrap;
			}

			li{
				height: 100%;
				// @include display(inline-flex);
				// @include align-items(center);
				// display: inline-block;
				&:not(:last-child){
					border-right: 1px solid black;
				}
				&:first-child{
					a{
						padding-left: 0;
					}
				}
				a{
					height: 100%;
					// background-color: $grafite;
					// @include transition(background-color 0.1s linear);
					@include display(flex);
					@include align-items(center);
					font-size: 0.85em;
					color: white;
					padding: 0 0.7em;
					// &:hover{
					// 	text-decoration: none;
					// 	background-color: darken($grafite, 20%);
					// }
				}
			}
		}
	}
}
