.blog-rentavel{
	&, &:before{
		background-color: #FCF3F1;
	}
	@include display(flex);
	
	.msg{
		padding: 8em 0 5em;
		padding-right: 2em;
		width: 50%;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		h1,p,a{
			text-align: center;
		}

		h1, p{
			color: $grafite;
		}

		a.link-quero-blog{
			margin-top: 2em;
		}
	}

	.img-ilustrativa{
		position: absolute;
		top: 0; 
		right: calc(-50vw + #{$largura-container} / 2);
		width: 50vw;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}


	/* versao menor */
	&.menor{
		font-size: 0.8em;
		background-position: left center;
		@include justify-content(flex-end);
		
		.msg{
			padding: 5em 0 5em;
			padding-left: 2em;
			padding-right: 0;
		}

		.img-ilustrativa{
			right: auto;
			left: calc(-50vw + #{$largura-container-menor} / 2);
		}
	}
}


.newsletter{
	padding-top: 2em;
	padding-bottom: 2em;
	&, &:before{
		background-color: $cinza;
	}
	@include display(flex);
	.call2action{
		padding-right: 3em;
		h1{
			font-size: 2.4em;
			color: $grafite;
		}

		p{
			font-family: $fonte-titulo;
			font-weight: 800;
		}
	}

	.form{
		@include flex-shrink(0);
		min-width: 40%;
		&.v{
			display: none;
		}
	}


	&.container.menor{
		.call2action{
			h1{
				font-size: 2em;
				font-weight: bold;
			}

			p{
				font-family: $fonte-corpo;
				font-weight: normal;
			}
		}

		.form{
			&.h{
				display: none;
			}

			&.v{
				display: block;
			}
		}
	}
}


.card{
	background-color: white;
	box-shadow: $boxshadow-padrao;
	padding: 1em;
	a.link-full{
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 2;
	}
	.container-imagem{
		background-color: $cinza;
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: 100%;

	}

	.container-texto{
		margin-top: 1em;
		color: $grafite;
		p{
			font-weight: bold;
		}
		a.bookmark{
			color: $vermelho;
			float: right;
			margin: 0 0 0.5em 0.5em;
			position: relative;
			z-index: 3;
		}
	}

	
}