/* BLOG RENTAVEL */

.blog-rentavel{
	&, &:before{
		background-color: #FCF3F1;
	}
	@include display(flex);
	
	.msg{
		padding: 8em 0 5em;
		padding-right: 2em;
		width: 50%;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		h1,p,a{
			text-align: center;
		}

		h1, p{
			color: $grafite;
		}

		a.link-quero-blog{
			margin-top: 2em;
		}
	}

	.img-ilustrativa{
		position: absolute;
		top: 0; 
		right: calc(-50vw + #{$largura-container} / 2);
		width: 50vw;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@media screen and (max-width: $tamanho-notebook){
			right: 0;			
		}
	}

	&.espelhado{
		@include justify-content(flex-end);
		.msg{
			padding-right: 0;
			padding-left: 2em;
		}
		.img-ilustrativa{
			right: auto;
			left: calc(-50vw + #{$largura-container} / 2);
			@media screen and (max-width: $tamanho-notebook){
				left: 0;				
			}
		}
	}


	/* versao compacta */
	&.compacto{
		font-size: 0.8em;
		
		.msg{
			padding: 5em 0 5em;
			padding-left: 2em;
			padding-right: 0;
		}
	}

	@media screen and (max-width: $tamanho-tablet){
		&, &.espelhado, &.compacto, &.espelhado.compacto{
			font-size: 1em;
			padding: 1px 0;
			@include display(block);
			.img-ilustrativa{
				top: 0;
				left: 0;
				right: auto;
				width: 100%;
				height: 100%;
			}

			.msg{
				background-color: rgba(255,255,255,0.9);
				position: relative;
				z-index: 1;
				width: calc(100% - 4em);
				max-width: 700px;
				margin: 2em auto;
				padding: 3em 2em;
			}
		}
	}



}


/* NEWSLETTER */

.newsletter{
	padding-top: 2em;
	padding-bottom: 2em;
	&, &:before{
		background-color: $cinza;
	}
	@include display(flex);
	.call2action{
		padding-right: 3em;
		h1{
			font-size: 2.4em;
			color: $grafite;
		}

		p{
			font-family: $fonte-titulo;
			font-weight: 800;
		}
	}

	.form{
		@include flex-shrink(0);
		min-width: 40%;
		&.v{
			display: none;
		}

		& > *, & > * > *{
			z-index: 0 !important;
		}
	}


	&.container.menor{
		.call2action{
			h1{
				font-size: 2em;
				font-weight: bold;
			}

			p{
				font-family: $fonte-corpo;
				font-weight: normal;
			}
		}

		.form{
			&.h{
				display: none;
			}

			&.v{
				display: block;
			}
		}
	}

	@media screen and (max-width:$tamanho-tablet){
		.call2action{
			h1{
				font-size: 2em;
				font-weight: bold;
			}

			p{
				font-family: $fonte-corpo;
				font-weight: normal;
			}
		}

		.form{
			&.h{
				display: none;
			}

			&.v{
				display: block;
			}
		}
	}


	@media screen and (max-width:$tamanho-tablet-vertical){
		@include display(block);
		
		.call2action{
			width: 100%;
			padding-right: 0;
			padding-bottom: 2em;

			h1{
				font-size: 1.7em;
				text-align: center;
			}
			p{
				text-align: center;
			}
		}

		.form{
			width: 100%;
			&.h{
				display: none;
			}

			&.v{
				display: block;
			}
		}
	}
}


// keyframe animacao opacidade
@include keyframes(aparece){
	0%  {opacity: 0;}
	100%{opacity: 1;}
}


// botao padrao "padrao": Fundo grafite, texto branco.
.botao-padrao, a.botao-padrao, button.botao-padrao{
	display: block;
	font-size: 1.25em;
	font-family: $fonte-titulo;
	font-weight: 800;
	padding: 0.75em 1.75em;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: $grafite;
	@include transition(all 0.2s linear);
	@include transition-property(background-color, color);
	&:hover{
		text-decoration: none;
		background-color: darken($grafite, 20%);
	}

	&.menor{
		font-size: 1em;
		padding: 0.5em 1.25em;
	}

	&.grafite{
		color: white;
		background-color: $grafite;
		&:hover{
			background-color: darken($grafite, 20%);
		}
		&.negativo{
			color: $grafite;
			background-color: $cinza;
			&:hover{
				background-color: darken($cinza, 20%);
			}
		}
	}

	&.vermelho{
		color: white;
		background-color: $vermelho;
		&:hover{
			background-color: darken($vermelho, 20%);
		}
		&.negativo{
			color: $vermelho;
			background-color: $rosa;
			&:hover{
				color: white;
				background-color: darken($rosa, 20%);
			}
		}
	}

	&.verde{
		color: white;
		background-color: $verde-escuro;
		&:hover{
			background-color: darken($verde-escuro, 20%);
		}
		&.negativo{
			color: $verde-escuro;
			background-color: $verde-claro;
			&:hover{
				color: white;
				background-color: darken($verde-claro, 20%);
			}
		}
	}
}



/* REDES SOCIAIS */

.redes-sociais{
	a{
		color: white;
		width: 2em;
		height: 2em;
		border-radius: 50%;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		&:hover{text-decoration: none};
		&.facebook{background-color: #3B5998}
		&.twitter{background-color: #1DA1F2}
		&.instagram{background-color: #C13584}
		&.youtube{background-color: #FF0000}
		&.pinterest{background-color: #E60022}
		&.rss{background-color: #FF6700}
		&.whatsapp{background-color: #128C7E}
		&.email{background-color: #F17285}
	}
}


/* CARD */

.card{
	background-color: white;
	box-shadow: $boxshadow-padrao;
	padding: 1em;
	position: relative;

	// estilo geral do emblema estrela
	img.premium-label{
		position: absolute;
		top: 1em;
		right: 2em;
		height: 2em;
		width: auto;
		z-index: 2;
		// & ~ .container-texto h2{
		// 	padding-right: 2em;
		// }
	}

	// Quando o card inteiro eh um link, tem que ter essa tag no comeco:
	a.link-full{
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 3;

		& ~ .container-texto{
			padding-bottom: 0;
		}
	}

	// Esse container eh tambem o container para os acessorios, como preco e produto estrelinha
	.container-imagem{
		width: 100%;
		height: auto;
		position: relative;

		.img-em-bg{
			width: 100%;
			height: 0; 
			padding-bottom: 70%;
			position: relative;
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			overflow: hidden;
			img.main-img{
				@extend .isolador-img;
			}

			p.preco{
				position: absolute;
				left: 0; bottom: 0;
				font-family: $fonte-titulo;
				font-weight: 800;
				font-size: .75em;
				line-height: 1;
				color: white;
				background-color: $azul;
				padding: 0.5em;
				white-space: nowrap;
				&.verde{
					background-color: $verde;
				}

				&.full-width{
					width: 100%;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
	// Chamei de container texto mas eh o container tbm do botao de "ver mais" e tambem de boomark:;
	.container-texto{
		margin-top: 1em;
		padding-bottom: 2em;
		color: $grafite;

		.titulo-e-txt{
			h2{
				font-weight: bold;
				font-family: $fonte-corpo;
				font-size: 1em;
				font-weight: bold;
			}
			p{
				
			}
		}


		.alinhador{
			margin-top: 2em;
		}

		a.ver-mais{
			bottom: 1em;
			left: 1em;
			position: absolute;
			display: block;
			// margin-top: 2em;
			color: $vermelho;
		}
		span.wpfp-span{
			float: right;
			// margin: 0 0 0.5em 0.5em;
			position: relative;
			z-index: 4;
			a{
				color: $vermelho;
				padding: 0 0 .5em .5em;
				i{
					&:nth-child(2){
						display: none;
					}
				}

				&:hover{
					i{
						&:nth-child(1){
							display: none;
						}

						&:nth-child(2){
							display: inline;
						}
					}
				}
			}

		}
		
	}


	// Aqui, as versoes diferentes que o card pode ter

	// Sem fundo branco
	&.transparente{
		padding: 0;
		box-shadow: none;
		background-color: transparent;
		img.premium-label{
			top: 0;
			right: 1em;
		}

		.container-texto{
			.alinhador, a.ver-mais{
				bottom: 0;
				left: 0;
			}
		}
	}

	// Para o card tradicional vertical, o texto pode ser centralizado
	&.centralizado{
		.container-texto{
			h2,p{
				text-align: center;
			}
		}
	};


	// para cards que sao links
	&.link{
		@include transition(all 0.2s ease-in-out);
		@include  transition-property(transform, box-shadow);
		&:hover{
			@include transform(translateY(-10px));
			box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.12);
		}
	}

	// card horizontalizado

	@media screen and (min-width: $tamanho-smart-pequeno){
		&.horizontal{
			@include display(flex);
			@include align-items(stretch);
			img.premium-label{
				top: 0;
				right: 1em;
				& ~ .container-texto{
					.titulo-e-txt{
						h2{
							padding-right: 2em;
						}
					}
				}
			}

			.container-imagem{
				@include flex-shrink(0);
				width: 50%;

				.img-em-bg{
					padding-bottom: 100%;
				}
			}

			.container-texto{
				margin-top: 0;
				margin-left: 1em;
				position: relative;
				padding-bottom: 0;
				@include display(flex);
				@include flex-direction(column);
				@include justify-content(space-between);
				h2{
					font-size: 1.2em;
					margin-bottom: 0.5em;
				}

				p{
					
				}

				.alinhador, a.ver-mais{
					position: static;
					margin-top: 1em;
				}
			}


			// Espelhado
			&.espelhado{
				.container-imagem{
					@include order(2);
				}
				.container-texto{
					margin-left: 0;
					margin-right: 1em;
					@include order(1);
					h2,p, a.ver-mais{
						text-align: right;
					}

					a.ver-mais{
						left: auto;
						right: 0;
					}
				}
			}


			// Ferramentas
			&.ferramenta{
				.container-imagem{
					.img-em-bg{
						background-image: none;
						
						img.main-img{
							top: 50%;
							left: 50%;
							@include transform(translate(-50%,-50%));
							width: auto;
							height: auto;
							max-width: calc(100% - 1em);
							max-height: calc(100% - 1em);
						}
					}
				}
			}
		}
	}
}