/* RALEWAY */

@font-face {
    font-family: 'Raleway';
    src: url('subset-Raleway-ExtraBold.woff2') format('woff2'),
        url('subset-Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('subset-Raleway-Bold.woff2') format('woff2'),
        url('subset-Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


/* LATO */

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Regular.woff2') format('woff2'),
        url('subset-Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Italic.woff2') format('woff2'),
        url('subset-Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Bold.woff2') format('woff2'),
        url('subset-Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-BoldItalic.woff2') format('woff2'),
        url('subset-Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Black.woff2') format('woff2'),
        url('subset-Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-BlackItalic.woff2') format('woff2'),
        url('subset-Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}



