.na-midia{
	padding-top: 1em;
	padding-bottom: 1em;
	h3{
		font-size: 1.2em;
		font-weight: bold;
		color: $grafite-claro;
		margin-bottom: 1em;
	}

	ul{
		
		li{
			width: 160px;
			height: 80px;
			@include display(flex);
			@include justify-content(space-between);
			@include align-items(center);
			img{
				display: block;
				width: auto; height: auto;
				max-width: 100%; max-height: 100%;
				@include filter(grayscale(100));
				opacity: 0.4;
			}
		}
	}
}


.main-posts{
	padding-top: 2em;
	padding-bottom: 2em;
	.categorias-e-estatisticas{
		@include display(flex);
		@include justify-content(space-between);
		@media screen and (max-width: $tamanho-notebook){
			@include flex-direction(column);
			// @include justify-content(center);
			@include align-items(center);

		}
		.categorias{
			@media screen and (max-width: $tamanho-notebook){
				text-align: center;
			}

			a{
				color: inherit;
				@include display(inline-flex);
				font-size: 0.8em;
				font-weight: bold;
				padding: 0 1em;
				height: 20px;
				border-radius: 10px;
				@include transition(background-color 0.2s linear);
				background-color: $cinza;
				&:hover{
					text-decoration: none;
					background-color: darken($cinza, 10%);
				}
				
				&:nth-child(odd){
					background-color: $rosa;
					&:hover{
						background-color: darken($rosa, 10%);
					}
				}
			}
		}

		ul.estatisticas{
			li{
				display: inline-block;
				vertical-align: bottom;
				&:not(:last-child){margin-right: 2em;}
				p{
					text-align: right;
					color: $grafite;
					line-height: 1.2;

					span.destaque{
						display: block;
						font-size: 1.6em;
						font-family: $fonte-titulo;
						font-weight: 800;
					}
					span.descritivo{
						font-size: 0.8em;
					}
				}
			}

			@media screen and (max-width: $tamanho-notebook){
				margin-top: 2em;
				text-align: center;
				li{
					p{
						text-align: center;
					}
				}
			}
		}
	}
	.posts{
		margin-top: 2em;
		@include display(flex);
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		@media screen and (max-width: $tamanho-tablet-vertical){
			@include justify-content(space-around);
		}

		.card{
			display: block;
			width: calc(25% - 1.5em);
			margin-bottom: 2em;
			.container-imagem .img-em-bg{
				// padding-bottom: 70%;
			}
			@media screen and (max-width: $tamanho-tablet){
				width: calc(25% - 0.75em);
				margin-bottom: 1em;
			}

			@media screen and (max-width: $tamanho-tablet-vertical){
				width: calc(50% - 1.5em);
			}


			// @media screen and (max-width: $tamanho-smartphone){
			// 	width: calc(50% - 0.5em);
			// }

			@media screen and (max-width: $tamanho-smart-pequeno){
				width: 90%;
			}


		}
	}

	a.ver-mais{
		display: block;
	}
}




.materiais-baixar{
	padding-top: 3em;
	padding-bottom: 3em;
	&, &:before{
		background-color: $rosa;
	}

	& > h1{
		text-align: center;
		color: $grafite;
		margin-bottom: 1.5em;
	}
	.links-e-ilu{
		@include display(flex);
		@include align-items(flex-start);

		@media screen and (max-width: $tamanho-tablet-vertical){
			@include display(block);
		}

	}

	.links-materiais{
		@include display(flex);
		@media screen and (max-width: $tamanho-smart-pequeno){
			@include display(block);
		}

		.card{
			width: calc(50% - 2em);
			margin-right: 2em;
			.container-imagem{
				.img-em-bg{
					padding-bottom: 100%;
					@media screen and (max-width: $tamanho-smart-pequeno){
						padding-bottom: 70%;
					}

				}
			}

			@media screen and (max-width: $tamanho-tablet-vertical){
				width: calc(50% - 1em);
				margin-right: 1em;
			}

			@media screen and (max-width: $tamanho-smart-pequeno){
				width: 100%;
				margin-right: 0;
				margin-bottom: 1em;
			}


		}
		width: 50%;
		@media screen and (max-width: $tamanho-tablet-vertical){
			width: 100%;
			max-width: 550px;
			margin: 0 auto;
			@include justify-content(space-between);
			.card{
				&:last-child{margin-right: 0;}
			}
		}

	}

	.ilu-e-vertudo{
		position: relative;
		img{
			display: block;
			width: calc(100% - 4em);
			margin: 0 auto;
			height: auto;
		}

		a.ver-mais{
			position: absolute;
			bottom: 0; right: 2em;
		}
		width: 50%;

		@media screen and (max-width: $tamanho-tablet-vertical){
			width: 100%;
			max-width: 550px;
			margin: 1em auto 0;
			img{
				display: none;
			}

			a.ver-mais{
				position: static;
				display: block;
				text-align: right;
			}
		}
	}
}




.dicas-para-blogs{
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
	@media screen and (max-width: $tamanho-tablet-vertical){
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
	}


	& > h2{
		width: 100%;
		color: $grafite;
		font-size: 2em;
		margin-bottom: 1em;
	}

	button{
		width: 2em;
		height: 2em;
		font-size: 1em;
		background-color: $grafite-claro;
		display: none;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		&.bt-prev{
			left: 0px;
		}
		&.bt-next{
			right: 0px;
		}
		@media screen and (max-width: $tamanho-tablet-vertical){
			display: block;
		}

		i{
			color: white;
		}
	}

	.slider-dicas{

		@media screen and (max-width: $tamanho-tablet-vertical){
			width: 550px;
		}

		@media screen and (max-width: $tamanho-smartphone){
			width: 100%;
		}
		
		.item-dica{
			padding: 12px;
		}

		.card{
			@media screen and (max-width: $tamanho-tablet-vertical){
				.container-imagem{
					width: 40%;
				}
			}

			@media screen and (max-width: $tamanho-smart-pequeno){
				.container-imagem{
					width: 100%;
				}
			}

		}
	}
}




.cursos-treinamentos{
	padding-top: 2em;
	padding-bottom: 2em;
	&, &:before{
		background-color: $verde-claro;
	}


	h1{
		text-align: center;
		margin-bottom: 1em;
		text-align: center;
		color: $grafite;
	}

	.conteudo{
		@include display(flex);
		@include align-items(center);
		
		.ilustra-ilustrativa{
			width: 45%;
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		.card{
			width: 55%;
			.container-imagem{
				width: 35%;
				.img-em-bg{
					padding-bottom: 150%;
				}
			}
		}

		@media screen and(max-width: $tamanho-tablet-vertical){
			@include display(block);
			.ilustra-ilustrativa{
				display: none;
			}
			.card{
				width: 550px;
				max-width: 100%;
				margin: 0 auto;
				.container-texto{
					p{
						font-size: 0.9em;
					}
				}

				@media screen and(max-width: $tamanho-smart-pequeno){
					.container-imagem{
						width: 100%;
						.img-em-bg{
							padding-bottom: 70%;
						}

					}
				}

			}
		}
	}
	
}


.ferramentas{
	padding-top: 2em;
	padding-bottom: 2em;
	& > h2{
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.conteudo{
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@media screen and (max-width: $tamanho-tablet-vertical){
			// @include justify-content(space-around);
			width: 100%;
			max-width: 550px;
			margin: 0 auto;
		}

		@media screen and (max-width: $tamanho-smart-pequeno){
			width: 90%;
		}



		.card{
			width: calc(50% - 1em);
			margin-bottom: 2em;
			.container-imagem{
				@media screen and (min-width: $tamanho-smart-pequeno){
					width: 33%;
				}
			}

			@media screen and (max-width: $tamanho-tablet-vertical){
				width: 100%;
			}

			// @media screen and (max-width: $tamanho-tablet-vertical){
			// 	width: calc(50% - 0.5em);
			// 	margin-bottom: 1em;
			// }

			// @media screen and (max-width: $tamanho-smart-pequeno){
			// 	width: 100%;
			// }



		}

	}
}