
/* BOX SIZING FIX */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




/* TIPOGRAFIA */

$fonte-titulo: "Raleway", Verdana, sans-serif; 
$fonte-corpo: "Lato", sans-serif;




/* CORES */

$vermelho: #FB1200;
$rosa: #FFEBEB;
$rosa-claro: #FFF6F6;
$grafite: #555555;
$grafite-claro: #777777;
$cinza: #F9F9F9;
$verde-claro: #F4F6F4;
$amarelo: #F2CE1A;
$azul: #4FC5D0;
$verde: #94CB87;
$verde-escuro: #769A6C;

$boxshadow-padrao: 0px 0px 12px 0 rgba(0,0,0,0.12);




/* MEDIA QUERIES */

$tamanho-smart-pequeno: 400px;
$tamanho-smartphone: 600px;
$tamanho-tablet-vertical: 840px;
$tamanho-tablet: 1000px;
$tamanho-notebook: 1250px;
$tamanho-gigante: 1600px;




/* ESTILO GERAL */

:root{
	font-size: 16px;
	line-height: 1.5;
	font-family: $fonte-corpo;
	overflow-x: hidden;
	color: $grafite-claro;
	@media screen and (max-width: $tamanho-tablet){
		font-size: 15px;
	}

	@media screen and (max-width: $tamanho-smartphone){
		font-size: 14px;
	}
}

html,body{
	&.noscroll{
		overflow: hidden;
	}
}

body{
	overflow-x: hidden;
}

h1,h2,h3,h4{
	font-family: $fonte-titulo;
	font-weight: bold;
	line-height: 1.3;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,figure{
	margin: 0;
}

h1{
	font-weight: 800;
	font-size: 2.25em;
}

ul,ol{
	list-style: none;
	padding-left: 0;
}

img{
	max-width: 100%;
}

input, textarea{
	@include appearance(none);
	border: 1px solid $grafite-claro;
	font-family: $fonte-corpo;
	background-color: transparent;
	padding: 0.75em;
	@include placeholder{
		color: $grafite-claro;
	}
}

textarea{
	resize: none;
}

a{
	&, &:link, &:visited{
		text-decoration: none;
		color: $vermelho;
		&:hover{
			text-decoration: underline;
		}
	}

	&.ver-mais{
		font-family: $fonte-titulo;
		color: $grafite;
		font-weight: bold;
	}
}


button{
	@include appearance(none);
	border: none;
	outline: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	color: inherit;
	&:hover{
		cursor: pointer;
	}
}


// "alinhador"{
.alinhador{
	@include display(flex);
	&.centro{
		@include justify-content(center);
	}

	&.direita{
		@include justify-content(flex-end);
	}
}



// isolador de imagens

.isolador-img{
	position: absolute;
	top: -10000px; left: -10000px;
	width: 10px;
}




/* CONTAINER PADRAO */
$largura-container: 1180px;
$largura-container-menor: 800px;

.container{
	display: block;
	margin: 0 auto;
	width:$largura-container;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: calc(-50vw + #{$largura-container} / 2);
	}

	& > *{
		position: relative;
	}

	@media screen{
		@media (max-width: $tamanho-notebook){
			width: 100%;
			padding-right: 30px;
			padding-left: 30px;
			&:before{
				content: none;
			}
		}

		@media (max-width: $tamanho-tablet){
		}

		@media (max-width: $tamanho-smartphone){
			padding-right: 15px;
			padding-left: 15px;
		}
	}


	&.menor{
		width: $largura-container-menor;
		&:before{
			left: calc(-50vw + #{$largura-container-menor} / 2);
		}

		@media (max-width: $tamanho-notebook){
			width: $largura-container-menor;
			padding-right: 0;
			padding-left: 0;
			&:before{
				content: "";
			}
		}

		@media (max-width: $tamanho-tablet-vertical){
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			&:before{
				content: none;
			}
		}
	}
}



/* BXSLIDER */
.bx-wrapper{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin-bottom: 3em;
	.bx-pager.bx-default-pager{
		a{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			margin: 0 5px;
			background: #DDD;
			@include transition(all 0.2s linear);
			@include transition-property(background,width);
			&:hover, &:focus{
				background: #AAA;				
			}
			&.active{
				background: #DDD;
				width: 30px;
			}
		}
	}
}